.bus-booking-container {
  padding: 20px;
  display: flex;
  flex-direction: column; /* Keep column for the main container */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bus-inputs {
  display: flex;
  align-items: center; /* Center items vertically */
  gap: 10px; /* Space between input fields */
}

.bus-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1; /* Allow inputs to take equal space */
}

.bus-input:focus {
  outline: none;
  border-color: orangered; /* Change border color on focus */
}

.search-button {
  padding: 10px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  width: 20%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #ff5722; /* Darker shade on hover */
}

.swap-icon {
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 20px; /* Adjust size as needed */
}
